@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:500,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

strong {
  font-weight: bold;
}

body {
  position: relative;
  width: 100%;
  min-width: 320px;
  font-size: 15px;
  font-family: "游ゴシック",YuGothic,"Helvetica","ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Arial, sans-serif;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;

  -webkit-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.modal_open_body {
  overflow: hidden;

  pointer-events: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: #000;
}

.wrapper {
  position: relative;
  background-color: #fcfcfc;
}

.header {
  text-align: center;
}

.header .logo {
  width: 32%;
  max-width: 200px;
  margin: 0 auto;
  padding: 25px 0 45px;
}

.head_wrap {
  position: fixed;
  top: 25px;
  right: 40px;
  z-index: 10;
  text-align: right;
}

.head_wrap .nav li {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.head_wrap .nav li a {
  display: block;
  margin: 10px 0;
  padding: 6px 0;
  color: #000;
  font-size: 14px;
  letter-spacing: .1em;
  text-decoration: none;
}

.head_wrap .nav.color_change li a {
  color: #fff;
}

.page_title {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto 70px;
  font-weight: 700;
  font-size: 62px;
  font-family: "Roboto", sans-serif;
  letter-spacing: .1em;
}

.page_title span {
  padding-left: 20px;
  vertical-align: middle;
  font-size: 18px;
  font-family: "Roboto", "游ゴシック", YuGothic, "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: .03em;
}

.content {
  min-height: 680px;
  padding-bottom: 100px;
}

.footer {
  position: relative;
  padding: 40px 0;
  background-color: #c3c2c2;
  text-align: center;
}

.footer .foot_banner {
  width: 64%;
  max-width: 305px;
  margin: 0 auto 35px;
}

.footer .foot_anx_link {
  letter-spacing: -.4em;
}

.footer .foot_anx_link li {
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  letter-spacing: .06em;

  border-right: 1px solid #000;
}

.footer .foot_anx_link li:last-child {
  border-right: 0;
}

.footer .foot_anx_link li a {
  display: block;
  padding: 0 12px;
  text-decoration: none;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
}

.footer .foot_att {
  margin-top: 20px;
  font-size: 11px;
  line-height: 1.5;
}

.footer .copy {
  margin-top: 5px;
  font-size: 11px;
  line-height: 1.3;
}

.footer .page_top {
  width: 9%;
  max-width: 70px;
  margin: 30px auto 0;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  -webkit-transform: scale(.8);
          transform: scale(.8);
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  -webkit-transition: -webkit-transform .1s ease .5s;
  transition: -webkit-transform .1s ease .5s;
  transition: transform .1s ease .5s;
  transition: transform .1s ease .5s, -webkit-transform .1s ease .5s;

  pointer-events: auto;
}

.modal.modal_open {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}

.modal.modal_open .modal_in {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity .5s ease .3s, -webkit-transform .5s ease .3s;
  transition: opacity .5s ease .3s, -webkit-transform .5s ease .3s;
  transition: transform .5s ease .3s, opacity .5s ease .3s;
  transition: transform .5s ease .3s, opacity .5s ease .3s, -webkit-transform .5s ease .3s;
}

.modal_back {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  opacity: .6;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.modal_in {
  display: inline-block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  position: absolute;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  max-width: 1080px;
  text-align: center;
  -webkit-transition: opacity .1s ease .4s, -webkit-transform .1s ease .4s;
  transition: opacity .1s ease .4s, -webkit-transform .1s ease .4s;
  transition: transform .1s ease .4s, opacity .1s ease .4s;
  transition: transform .1s ease .4s, opacity .1s ease .4s, -webkit-transform .1s ease .4s;
}

.modal_in .modal_wrap[data-modal="img"] {
  min-width: 800px;
}

.modal_in .modal_wrap[data-modal="img"] img {
  max-height: 90vh;
}

.modal_in .modal_wrap[data-modal="youtube"] {
  position: relative;
  width: 800px;
  padding-top: 56.25%;
}

.modal_in .modal_wrap[data-modal="youtube"] iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

.modal_in.modal_scroll {
  height: 90%;
  overflow-y: scroll;
}

@media screen and (max-width: 750px) {
  .header .logo {
    padding: 3.5% 0 9%;
  }
  .head_wrap {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    top: 40px;
    right: 15px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    max-height: 100vh;
    padding-bottom: 50px;
    overflow-y: scroll;
    -webkit-transition: opacity .2s ease, -webkit-transform .05s ease .15s;
    transition: opacity .2s ease, -webkit-transform .05s ease .15s;
    transition: transform .05s ease .15s, opacity .2s ease;
    transition: transform .05s ease .15s, opacity .2s ease, -webkit-transform .05s ease .15s;

    pointer-events: none;
  }
  .head_wrap.nav_open {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity .4s ease .6s, -webkit-transform .8s ease .2s;
    transition: opacity .4s ease .6s, -webkit-transform .8s ease .2s;
    transition: transform .8s ease .2s, opacity .4s ease .6s;
    transition: transform .8s ease .2s, opacity .4s ease .6s, -webkit-transform .8s ease .2s;

    pointer-events: auto;
  }
  .head_wrap .nav li a {
    color: #fff;
  }
  .sp_menu_back {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    -webkit-transition: opacity .1s ease .7s;
    transition: opacity .1s ease .7s;

    pointer-events: none;
  }
  .sp_menu_back:before {
    content: "";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: .7;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: scale(0) translate(30%, -50%);
            transform: scale(0) translate(30%, -50%);
    width: 100vh;
    height: 100vh;
    background-color: #000;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;

    -webkit-transform-origin: right top;

            transform-origin: right top;
  }
  .sp_menu_back.nav_open {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-transition: opacity .1s ease;
    transition: opacity .1s ease;

    pointer-events: auto;
  }
  .sp_menu_back.nav_open:before {
    -webkit-transform: scale(1.4) translate(25%, -20%);
            transform: scale(1.4) translate(25%, -20%);
    -webkit-transition: -webkit-transform .7s cubic-bezier(.55, .055, .675, .19);
    transition: -webkit-transform .7s cubic-bezier(.55, .055, .675, .19);
    transition: transform .7s cubic-bezier(.55, .055, .675, .19);
    transition: transform .7s cubic-bezier(.55, .055, .675, .19), -webkit-transform .7s cubic-bezier(.55, .055, .675, .19);
  }
  .menu_btn {
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 50;
    width: 30px;
    height: 30px;
    padding-top: 14px;
  }
  .menu_btn p {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: black;
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
  }
  .menu_btn p:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    width: 100%;
    height: 1px;
    background-color: black;
    -webkit-transition: background-color .4s ease, -webkit-transform .4s ease;
    transition: background-color .4s ease, -webkit-transform .4s ease;
    transition: background-color .4s ease, transform .4s ease;
    transition: background-color .4s ease, transform .4s ease, -webkit-transform .4s ease;
  }
  .menu_btn p:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    width: 100%;
    height: 1px;
    background-color: black;
    -webkit-transition: background-color .4s ease, -webkit-transform .4s ease;
    transition: background-color .4s ease, -webkit-transform .4s ease;
    transition: background-color .4s ease, transform .4s ease;
    transition: background-color .4s ease, transform .4s ease, -webkit-transform .4s ease;
  }
  .menu_btn.color_change p {
    background-color: white;
  }
  .menu_btn.color_change p:before {
    background-color: white;
  }
  .menu_btn.color_change p:after {
    background-color: white;
  }
  .menu_btn.nav_open p {
    background-color: rgba(0, 0, 0, 0);
  }
  .menu_btn.nav_open p:before {
    -webkit-transform: translateY(0px) rotate(45deg);
            transform: translateY(0px) rotate(45deg);
    background-color: white;
  }
  .menu_btn.nav_open p:after {
    -webkit-transform: translateY(0px) rotate(-45deg);
            transform: translateY(0px) rotate(-45deg);
    background-color: white;
  }
  .page_title {
    margin-bottom: 30px;
    font-size: 38px;
    letter-spacing: .04em;
  }
  .page_title span {
    padding-left: 3%;
    font-size: 11px;
    letter-spacing: normal;
  }
  .content {
    min-height: 70vh;
    padding-bottom: 70px;
  }
  .footer .foot_banner {
    margin-bottom: 20px;
  }
  .footer .foot_anx_link li {
    font-size: 11px;
  }
  .footer .foot_att {
    margin-top: 25px;
    font-size: 10px;
  }
  .footer .copy {
    margin-top: 15px;
    font-size: 10px;
  }
  .modal_in {
    width: 100%;
  }
  .modal_in .modal_wrap[data-modal="img"] {
    min-width: 100%;
  }
  .modal_in .modal_wrap[data-modal="youtube"] {
    width: 100%;
  }
  body {
    font-size: 13px;
  }
  .pc {
    display: none;
  }
}

@media screen and (min-width: 751px) {
  .head_wrap .nav li a {
    -webkit-transition: letter-spacing .4s ease, color .4s ease, -webkit-transform .4s ease;
    transition: letter-spacing .4s ease, color .4s ease, -webkit-transform .4s ease;
    transition: letter-spacing .4s ease, transform .4s ease, color .4s ease;
    transition: letter-spacing .4s ease, transform .4s ease, color .4s ease, -webkit-transform .4s ease;
  }
  .head_wrap .nav li a:hover {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
    letter-spacing: .4em;
  }
  .hov_square {
    display: block;
    position: relative;
    overflow: hidden;
  }
  .hov_square:before {
    content: "";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-transform: scale(0) translate(50%, 50%);
            transform: scale(0) translate(50%, 50%);
    width: 100%;
    padding-bottom: 100%;
    background-color: #489de6;
    border-radius: 50%;
    -webkit-transition: opacity .1s ease .4s, -webkit-transform .4s ease;
    transition: opacity .1s ease .4s, -webkit-transform .4s ease;
    transition: transform .4s ease, opacity .1s ease .4s;
    transition: transform .4s ease, opacity .1s ease .4s, -webkit-transform .4s ease;

    -webkit-transform-origin: right bottom;

            transform-origin: right bottom;
  }
  .hov_square:hover:before {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    opacity: .2;
    -webkit-transform: scale(1.5) translate(15%, 15%);
            transform: scale(1.5) translate(15%, 15%);
    -webkit-transition: opacity .1s ease, -webkit-transform .7s ease;
    transition: opacity .1s ease, -webkit-transform .7s ease;
    transition: transform .7s ease, opacity .1s ease;
    transition: transform .7s ease, opacity .1s ease, -webkit-transform .7s ease;
  }
  .footer .foot_anx_link li a:hover {
    color: #489de6;
  }
  .sp {
    display: none;
  }
}